@font-face {
    font-family: "Favorit Pro Book";
    src: url("fonts/FavoritPro-Book.woff2") format("woff2"),
        url("fonts/FavoritPro-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Favorit Pro";
    src: url("fonts/FavoritPro-Regular.woff2") format("woff2"),
        url("fonts/FavoritPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Favorit Pro";
    src: url("fonts/FavoritPro-Bold.woff2") format("woff2"),
        url("fonts/FavoritPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Favorit Pro";
    src: url("fonts/FavoritPro-Light.woff2") format("woff2"),
        url("fonts/FavoritPro-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Formula Condensed";
    src: url("fonts/FormulaCondensed-Regular.woff2") format("woff2"),
        url("fonts/FormulaCondensed-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
 width: 1000px;
 margin: auto;
 background-color: #304647;
 font-family: "Favorit Pro";
 font-weight: 300;
 font-style: normal;
 font-size: 30px;
}

h1 {
 color: #CACC5C;
 font-family: "Formula Condensed";
}

.text-blueviolet {
 color: blueviolet;
}

.bg-grey {
 background-color: darkgray;
}

button {
 background-color: #304647;
 border: none;
 color: white;
 padding: 15px 120px;
 text-align: center;

}
button:hover {
 color: #CACC5C;
}