@font-face {
    font-family: "Favorit Pro Book";
    src: url("fonts/FavoritPro-Book.woff2") format("woff2"),
        url("fonts/FavoritPro-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Favorit Pro";
    src: url("fonts/FavoritPro-Regular.woff2") format("woff2"),
        url("fonts/FavoritPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Favorit Pro";
    src: url("fonts/FavoritPro-Bold.woff2") format("woff2"),
        url("fonts/FavoritPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Favorit Pro";
    src: url("fonts/FavoritPro-Light.woff2") format("woff2"),
        url("fonts/FavoritPro-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Formula Condensed";
    src: url("fonts/FormulaCondensed-Regular.woff2") format("woff2"),
        url("fonts/FormulaCondensed-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
*:after,
*:before {box-sizing: border-box;
}
*:focus {color: #CACC5C ;
}
body {
 padding:0; 
 margin:0;
 font-family: "Favorit Pro";
 font-weight: 300;
 font-style: normal;
 font-size: 26px;
}

h1 {
color: #CACC5C;
font-family: "Formula Condensed";
font-size: 150px;
letter-spacing: 3px;
margin-top: 50px;
margin-left: 450px;
margin-right: 50px;
padding: 10px 10px;
}

h2 {
color: #304647;
font-family: "Formula Condensed";
}

button {
 height: 70px;
 width: 170px;
 padding-top: 10px;
 padding-left: 10px;
 padding-right: 10px;
 padding-bottom: 10px;
 background-color: #304647;
 color: white;
 text-align: center;
 font-family: "Favorit Pro";
 font-weight: 300;
 font-style: normal;
 font-size: 20px;
 border: none;
 outline: none;
}
.button1 {
 margin-left: 330px;
 margin-right: 50px;
}
.button2 { 
 margin-left: 180px;
 margin-right: 50px;
}
.button3 { 
 margin-left: 180px;
 margin-right: 50px;}

button:hover {
 color: #CACC5C;
}

cite, blockquote {
 height: 100px;
 width: 900px;
 color: white;
 font-family: "Favorit Pro";
 font-weight: 300;
 font-style: normal;
 font-size: 20px;
 margin-top: 50px;
 margin-left: 450px;
 margin-right: 70px;
 padding: 10px 10px;
}

cite {
 height: 70px;
 width: 170px;
 margin-left: 650px;
 margin-right: 50px;    
}


div {
 top: 0;
 left: 0;
 height: 900px;
 background-color: #304647;
 
}

.box1 { 
 padding-top: 30px;
 height: 900px;
 background-color: #CACC5C;
}
